<h1>Джафаров Эмиль ИУ6-32Б Билет №32</h1>
<p>Дан массив чисел arr_a. Определить произведение отрицательных чисел, 
и поместить его на место последнего элемента массива, индекс которого кратен 3.</p>
<%= form_tag('/calc/show', :method => "get", :remote => true, id: 'calc_form') do %>
  <%= label_tag("Введите массив чисел:") %>
  <br/>
  <%= text_field_tag(:array, "1 2 3 4 -4 -3")%>
  <br/>
  <%= submit_tag("Yosh") %>
<% end %>
<div id='result'>
</div>

