<h1 align="center">Посчитали</h1>
<p align="center">Числа Армстронга:</p>
<table border=1 align="center">
  <tr>
    <td>Порядковый номер</td>
    <td>  Число  </td>
  </tr>
  <% @right_numbers.each_with_index do |number, index| %>
    <tr>
      <td align="center"> <%= index + 1 %> </td>
      <td align="center"> <%= number %> </td>
    </tr>
  <% end %>
</table>
<p align="center">Количество чисел Армстронга: <%= @right_numbers.length %></p>
<a href=/>Вернуться
